#submit{
    border: 1px solid darkorange;
}

#a{
    color: beige;
    font-size: 15px;
}

#tcf{
    color: beige;
    font-weight: 600;
}

#navbar{
    background-color: rgba(1, 129, 151, 0.863);
}